<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="db.properties"/>

  <typeAliases>
  	<typeAlias type="org.example.vo.Person" alias="person" />
  	<typeAlias type="org.example.vo.Student" alias="student" />
  	<typeAlias type="org.example.vo.Teacher" alias="teacher" />
  	<typeAlias type="org.example.vo.Staff" alias="staff" />
  	
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="schoolMapper.xml"/>
  </mappers>
</configuration>